@model RestaurantChoice.Models.Restaurant

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Modify a restaurant</legend>

        <div>
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name)
            @*<span style="color:red">@ViewBag.ErrorMessage</span>*@
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div>
            @Html.LabelFor(model => model.PhoneNumber)
            @Html.TextBoxFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>
        <br />
        <input type="submit" value="Modify" />
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    jQuery.validator.addMethod("verifcontact",
        function (value, element, params) {
            var phoneNumber = $("#" + params.parameter1).val();
            var email = $("#" + params.parameter2).val();
            return phoneNumber != '' || email != '';
        });

    jQuery.validator.unobtrusive.adapters.add
        ("verifcontact", ["parameter1", "parameter2"], function (options) {
            options.rules["verifcontact"] = options.params;
            options.messages["verifcontact"] = options.message;
        });
</script>
